<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nancy's Nursery</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>

    <div id="wrapper">
        <div class="header">
            <div class="navbar">
                <a href="https://www.facebook.com" title="Check us out on Facebook!" target="_blank">Facebook</a> | 
                <a href="https://www.instagram.com" title="Check us out in Instagram!" target="_blank">Instagram</a>
            </div>
            <hr width="80%">
            <h1>Nancy's Business</h1>
            <h3>Offering the best plants in the area!</h3>
            <br>
            <p>(209) 123-1234</p>
            <p>123 W Plant Street, Tracy, CA 95376</p>
        </div>

        <div class="mainContent">
            <div class="image">
                <div class="secondContent">
                    <h2>Plants we offer</h2>
                    <hr>
                    <br>
                    <div class="plants">
                        <div class="succulents">
                            <img src="~/css/succulents.jpg" alt="">
                            <br><br>
                            <hr>
                            <h3>Succulents</h3>
                            <p>We carry a large array of Succulents!</p>
                        </div>

                        <div class="perennials">
                            <img src="~/css/perennials.jpg" alt="">
                            <br><br>
                            <hr>
                            <h3>Perennials</h3>
                            <p>We carry a large array of Perennials!</p>
                        </div>

                        <div class="annuals">
                            <img src="~/css/annuals.jpg" alt="">
                            <br><br>
                            <hr>
                            <h3>Annuals</h3>
                            <p>We carry a large array of Annuals!</p>
                        </div>
                    </div>
                    <br><br>
                    <div class="services">
                        <h2>Services</h2>
                        <hr>
                        <br>
                        <div class="services2">
                            <div class="spray">
                                <img src="~/css/spray.png" alt="">
                                <br><br>
                                <hr>
                                <h3>Spray</h3>
                                <p>We use an organic fertiliser and plant spray</p>
                            </div>
                            
                            <div class="trimming">
                                <img src="~/css/trimming.jpg" alt="">
                                <br><br>
                                <hr>
                                <h3>Trimming</h3>
                                <p>We'll come out to trim and prune the plants you purchase from us</p>
                            </div>
                        </div>

                        <div class="end">
                            <h2>Give us a call today to set up an appointment today!</h2>
                            <p>(209) 123-1234</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">

        </div>

    </div>
</html>